.detalhesEvento{
	box-shadow: 0px 0px 5px green;
	padding-top: 5px;
	padding-left: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.formConvidado{
	box-shadow: 0px 0px 5px green;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-bottom: 50px;
}

.tabelaConvidado{
	width: 60%;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-bottom: 50px;
}

.formEvento{
	box-shadow: 0px 0px 5px green;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
}
